# Flutter / Dart
.dart_tool/
.packages
build/
*.apk
*.aab

# Python / IA
venv/
__pycache__/
*.h5
*.pt
*.env

# Datos pesados
data/*
!data/muestra_pequena.json

# Claves de Firebase
google-services.json
GoogleService-Info.plist
